# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
venv/
env/

# Packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Slurm logs
slurm-*.out
slurm-*.err

# Temporary files
tmp/
temp/
*.log
